a[class=help] {
	font-weight: bold;
	color: #fff;
	background-color: blue;
	width: 18px;
	height: 18px;
	display: inline-block;
	border-radius: 100%;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
	box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
}

label[type=title] {
	all: unset;
	font-size: 20px;
	font-weight: bold;
}

label {
    cursor: default;
    font-size:14px;
    font-family: Helvetica, Arial, Sans-Serif;
	text-shadow: 1px 1px 1px #fff;
	font-weight: bold;
}

span {
	margin:0;
	padding:0;
	display: inline-block;
}

.progress-bar{
	text-shadow: 1px 1px 1px black;
    font-size:16px;
}