.title_genotate {
	font-size: 30px;
	font-family: Helvetica, Arial, Sans-Serif;
	color: #24292e;
	text-decoration: none;
	padding: 0px;
	margin:0px;
	margin-left:20px;
	margin-right:20px;
	display: inline-block;
    vertical-align: middle;
}

#header {
	background-color: #24292e;
	width:100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.container-fluid {
	background-color: #24292e;
}

.header_genotate {
	font-size: 18px;
	font-family: Helvetica, Arial, Sans-Serif;
	color: lightgrey;
	background-color: #24292e;
	text-decoration: none;
	padding: 0px;
	padding-top: 8px; 
	padding-bottom: 8px; 
	margin:0px;
	margin-right:10px;
	display: inline-block;
    vertical-align: middle;
}

.header_genotate:hover {
	color: white;
	text-decoration: none;
}

.header_link, .header_dropdown-toggle, .header_dropdown_link {
	font-size: 12px;
	font-family: Helvetica, Arial, Sans-Serif;
	color: lightgrey;
	background-color: #24292e;
	text-decoration: none;
	padding: 0px;
	padding-top: 12px; 
	padding-bottom: 12px; 
	margin:0px;
	margin-right:10px;
	display: inline-block;
	vertical-align: middle;
}

.header_dropdown_link {
	display: block;
}

.header_link:hover, #header>li>.header_dropdown-toggle:hover, .header_dropdown-toggle:focus, .header_dropdown_link:hover {
	color: white;
	text-decoration: none;
}

#header>li {
	display: inline;
}


#header>.dropdown {
	padding: 0;
	margin: 0;
	background-color: #24292e;
	color: lightgrey;
}

#header>.dropdown>.dropdown-menu {
	width: 100%;
	padding: 0;
	padding-left: 5px;
	margin: 0;
	margin-top: 10px;
	border-radius: 0%;
	border: 0;
	background-color: #24292e;
	color: lightgrey;
}