.slider-track-high, #slider12c .slider-track-high {
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	border: 1px solid grey;
}

.slider-track-low, #slider12c .slider-track-low {
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	border: 1px solid grey;
}

.slider-selection {
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	border: 1px solid grey;
}
.slider-handle{
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	border: 1px solid grey;
	border-radius:20%;
}
.slider-handle:hover {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
.slider-tick{
	height:0px;
}
.slider-horizontal{
	margin-left:10px;
	margin-right:10px;
}